body {
  font-family: "Fira Sans", sans-serif; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #212529; }

.header {
  margin-bottom: 2rem;
  padding: 2rem 4vh;
  height: 10vh;
  font-size: 1.8rem;
  color: #ffffff;
  background-image: linear-gradient(to right, #5c7cfa, #364fc7);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header div {
    display: flex;
    align-items: center;
    gap: 1rem; }
  .header img {
    width: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba(33, 37, 41, 0.3); }
  .header__user span {
    margin-right: 0.4rem; }

.cardhome {
  padding: 2rem 1rem;
  max-width: 36rem;
  height: 20rem;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 2rem rgba(229, 229, 229, 0.25);
  transition: all 0.2s; }
  .cardhome:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3rem rgba(229, 229, 229, 0.25);
    background-color: rgba(229, 229, 229, 0.35); }
  .cardhome > div {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem; }
    .cardhome > div > i {
      font-size: 3.2rem; }

.login div:nth-child(3) {
  margin-bottom: 0; }

.home {
  min-height: 100vh;
  margin-bottom: 2rem; }
  .home__content {
    margin: 0 auto;
    max-width: 96vw; }
    .home__content--cta {
      min-height: 90vh;
      background-color: #99e9f2;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .home__content--cta > div {
        margin-left: 2rem;
        font-size: 2.6rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem; }
        .home__content--cta > div p {
          font-size: 1.8rem; }
        .home__content--cta > div > div {
          display: flex; }
          .home__content--cta > div > div button {
            width: 12rem;
            height: 4rem;
            font-size: 1.8rem; }
          .home__content--cta > div > div button:not(:last-child) {
            margin-right: 2rem; }
      .home__content--cta img {
        width: 60%;
        border-radius: 0.8rem;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }
    .home__content--cards {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 2rem 1rem; }

.incluir {
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.6rem;
  font-size: 1.8rem; }
  .incluir__title {
    border-bottom: 1px solid #e5e5e5;
    min-width: 100%; }
    .incluir__title > h1 {
      margin-bottom: 1rem; }
  .incluir__origem {
    min-width: 100%; }
    .incluir__origem > h3 {
      margin-bottom: 1rem; }
    .incluir__origem > div {
      display: flex;
      align-items: center;
      gap: 3.6rem; }
  .incluir__form {
    min-width: 100%; }
    .incluir__form > h3 {
      margin-bottom: 1rem; }
    .incluir__form button {
      margin-left: 2rem; }

.consultar {
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.6rem;
  font-size: 1.8rem; }
  .consultar__title {
    border-bottom: 1px solid #e5e5e5;
    min-width: 100%; }
    .consultar__title > h1 {
      margin-bottom: 1rem; }
  .consultar__origem {
    min-width: 100%; }
    .consultar__origem > h3 {
      margin-bottom: 1rem; }
    .consultar__origem > div {
      display: flex;
      align-items: center;
      gap: 3.6rem; }
  .consultar__form {
    min-width: 100%; }
    .consultar__form > h3 {
      margin-bottom: 1rem; }
    .consultar__form button {
      margin-left: 2rem; }
  .consultar__table {
    min-width: 100%; }

.errorpage {
  padding: 2rem;
  height: 100vh;
  background-image: url("../assets/imgs/not-found.jpg");
  background-size: 50%;
  background-position: left;
  background-repeat: no-repeat;
  position: relative; }
  .errorpage > * {
    position: absolute;
    top: 50%;
    right: 25%;
    width: 18rem;
    height: 6rem;
    font-size: 1.8rem;
    border-radius: 0.8rem; }

.profile__header {
  display: flex;
  align-items: center;
  gap: 2rem; }
  .profile__header--img {
    position: relative; }
    .profile__header--img > img {
      width: 12rem; }
    .profile__header--img > span {
      position: absolute;
      bottom: 0;
      right: 5%;
      font-size: 1.8rem;
      cursor: pointer; }
  .profile__header--info {
    font-size: 1.8rem; }
    .profile__header--info p:not(:last-child) {
      margin-bottom: 1rem; }
