.cardhome {
  padding: 2rem 1rem;
  max-width: 36rem;
  height: 20rem;

  font-size: $medium-fs;
  letter-spacing: 0.1rem;

  border-radius: $medium-br;
  box-shadow: 0 0 2rem rgba($color-gray, 0.25);
  transition: all 0.2s;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3rem rgba($color-gray, 0.25);
    background-color: $color-gray;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem;

    & > i {
      font-size: 3.2rem;
    }
  }
}
