.header {
  margin-bottom: 2rem;
  padding: 2rem 4vh;
  height: 10vh;

  font-size: $medium-fs;
  color: $color-white;

  background-image: linear-gradient(
    to right,
    $color-lightblue,
    $color-darkblue
  );
  display: flex;
  align-items: center;
  justify-content: space-between;

  & div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & img {
    width: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba($color-black, 0.3);
  }

  &__user {
    & span {
      margin-right: 0.4rem;
    }
  }
}
